04-Codigo-Clases/BackJava_FrontCSharp/CSharp/LP2Soft/LP2Soft/Connected Services/RRHHWS/RRHHWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.lp2soft.pucp.edu.pe/" targetNamespace="http://services.lp2soft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="insertarEmpleado" type="tns:insertarEmpleado" />
  <xs:element name="insertarEmpleadoResponse" type="tns:insertarEmpleadoResponse" />
  <xs:element name="listarEmpleadosPorDNINombre" type="tns:listarEmpleadosPorDNINombre" />
  <xs:element name="listarEmpleadosPorDNINombreResponse" type="tns:listarEmpleadosPorDNINombreResponse" />
  <xs:element name="listarTodasAreas" type="tns:listarTodasAreas" />
  <xs:element name="listarTodasAreasResponse" type="tns:listarTodasAreasResponse" />
  <xs:complexType name="listarEmpleadosPorDNINombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="DNInombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEmpleadosPorDNINombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:empleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empleado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="area" type="tns:area" />
          <xs:element minOccurs="0" name="cargo" type="xs:string" />
          <xs:element minOccurs="0" name="cuentaUsuario" type="tns:cuentaUsuario" />
          <xs:element name="sueldo" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="DNI" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element name="genero" type="xs:unsignedShort" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="area">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="empleados" nillable="true" type="tns:empleado" />
      <xs:element name="idArea" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cuentaUsuario">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="empleado" type="tns:empleado" />
      <xs:element name="idCuentaUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="empleado" type="tns:empleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEmpleadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodasAreas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodasAreasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:area" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>