04-Codigo-Clases/BackJava_FrontCSharp/CSharp/LP2Soft/LP2Soft/Connected Services/RRHHWS/RRHHWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.lp2soft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="RRHHWS" targetNamespace="http://services.lp2soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/LP2SoftWebServices/RRHHWS?xsd=1" namespace="http://services.lp2soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarEmpleadosPorDNINombre">
    <part name="parameters" element="tns:listarEmpleadosPorDNINombre" />
  </message>
  <message name="listarEmpleadosPorDNINombreResponse">
    <part name="parameters" element="tns:listarEmpleadosPorDNINombreResponse" />
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="listarTodasAreas">
    <part name="parameters" element="tns:listarTodasAreas" />
  </message>
  <message name="listarTodasAreasResponse">
    <part name="parameters" element="tns:listarTodasAreasResponse" />
  </message>
  <message name="insertarEmpleado">
    <part name="parameters" element="tns:insertarEmpleado" />
  </message>
  <message name="insertarEmpleadoResponse">
    <part name="parameters" element="tns:insertarEmpleadoResponse" />
  </message>
  <portType name="RRHHWS">
    <operation name="listarEmpleadosPorDNINombre">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/listarEmpleadosPorDNINombreRequest" message="tns:listarEmpleadosPorDNINombre" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/listarEmpleadosPorDNINombreResponse" message="tns:listarEmpleadosPorDNINombreResponse" />
    </operation>
    <operation name="hello">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/helloRequest" message="tns:hello" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="listarTodasAreas">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/listarTodasAreasRequest" message="tns:listarTodasAreas" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/listarTodasAreasResponse" message="tns:listarTodasAreasResponse" />
    </operation>
    <operation name="insertarEmpleado">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/insertarEmpleadoRequest" message="tns:insertarEmpleado" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/RRHHWS/insertarEmpleadoResponse" message="tns:insertarEmpleadoResponse" />
    </operation>
  </portType>
  <binding name="RRHHWSPortBinding" type="tns:RRHHWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarEmpleadosPorDNINombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasAreas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarEmpleado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="RRHHWS">
    <port name="RRHHWSPort" binding="tns:RRHHWSPortBinding">
      <soap:address location="http://localhost:8080/LP2SoftWebServices/RRHHWS" />
    </port>
  </service>
</definitions>