04-Codigo-Clases/ServiciosWeb/JAVA/ClienteJAVA/xml-resources/web-service-references/ServicioWeb/wsdl/localhost_8080/WebServices/ServicioWeb.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.lp2soft.pucp.edu.pe/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.lp2soft.pucp.edu.pe/" name="ServicioWeb">
<types>
<xsd:schema>
<xsd:import namespace="http://services.lp2soft.pucp.edu.pe/" schemaLocation="http://localhost:8080/WebServices/ServicioWeb?xsd=1"/>
</xsd:schema>
</types>
<message name="sumar">
<part name="parameters" element="tns:sumar"/>
</message>
<message name="sumarResponse">
<part name="parameters" element="tns:sumarResponse"/>
</message>
<message name="restar">
<part name="parameters" element="tns:restar"/>
</message>
<message name="restarResponse">
<part name="parameters" element="tns:restarResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="ServicioWeb">
<operation name="sumar">
<input wsam:Action="http://services.lp2soft.pucp.edu.pe/ServicioWeb/sumarRequest" message="tns:sumar"/>
<output wsam:Action="http://services.lp2soft.pucp.edu.pe/ServicioWeb/sumarResponse" message="tns:sumarResponse"/>
</operation>
<operation name="restar">
<input wsam:Action="http://services.lp2soft.pucp.edu.pe/ServicioWeb/restarRequest" message="tns:restar"/>
<output wsam:Action="http://services.lp2soft.pucp.edu.pe/ServicioWeb/restarResponse" message="tns:restarResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://services.lp2soft.pucp.edu.pe/ServicioWeb/helloRequest" message="tns:hello"/>
<output wsam:Action="http://services.lp2soft.pucp.edu.pe/ServicioWeb/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="ServicioWebPortBinding" type="tns:ServicioWeb">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sumar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="restar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioWeb">
<port name="ServicioWebPort" binding="tns:ServicioWebPortBinding">
<soap:address location="http://localhost:8080/WebServices/ServicioWeb"/>
</port>
</service>
</definitions>